<h1>{{ nameSignal() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ nameSignal() }}</dd>

  <td>Edad:</td>
  <dd>{{ ageSignal() }}</dd>
  
  <td>Método:</td>
  <dd>{{ heroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!-- <dd>{{ capitalizedName()}} </dd>  -->
  <dd>{{ nameSignal() | uppercase }} </dd> 
</dl>

<button (click)="changeHeroName()" class="btn btn-primary mx-2">
  Cambiar super Heroe
</button>

<button (click)="changeHeroAge()" class="btn btn-primary">
    Cambiar edad
</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>


